---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Layout from "../layouts/main.astro";
import experiences from "../collections/experiences.json";
import studies from "../collections/studies.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import { Image } from "astro:assets";
---

<Layout title="Jairo Vera - Desarrollador Web">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl text-gray-800 dark:text-gray-200"
        >
          <!-- Jairo Vera + emoji de desarrollador web front end -->
          Jairo Vera <span class="text-6xl">👨🏽‍💻</span>
        </h1>

        <p class="mb-6 text-base text-neutral-700 dark:text-neutral-300">
          Soy un desarrollador front-end con 2 años de experiencia,
          especializado en la creación de interfaces web modernas y optimizadas.
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          Puedo ayudarte con:
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-600 dark:text-neutral-300"
        >
          <li>
            Desarrollos en
            <span class="font-semibold text-neutral-700 dark:text-neutral-200">
              Astro, Next.js, React, HTML, CSS, Sass, Tailwind y JavaScript
            </span>
          </li>
          <li>Optimización de sitios web para una carga rápida y mejor SEO</li>
          <li>Integración de animaciones</li>
          <li>Diseño de sistemas y landing pages eficientes</li>
          <li>
            Desarrollo de proyectos utilizando Astro, Next.js y Tailwind CSS y
            más...
          </li>
        </ul>
        <Button
          text="Sígueme en Linkedin"
          link="https://www.linkedin.com/in/frank-jairo-vera/"
        />
      </div>

      <div
        class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
      >
        <div class="relative z-50 w-full">
          <div
            class="absolute bottom-0 z-40 w-16 h-16 -translate-x-6 -translate-y-1/2 lg:top-auto top-0 lg:-translate-y-[330px] rounded-full"
          >
            <span
              class="relative z-20 flex items-center justify-center w-full h-full text-2xl border-8 border-white rounded-full dark:border-neutral-950 bg-neutral-100 dark:bg-neutral-900"
            >
              <span
                class="flex items-center justify-center w-full h-full bg-white border border-dashed rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
                >👋</span
              >
            </span>
          </div>
          <div class="relative z-30 rounded-lg">
            <Image
              width={100}
              height={100}
              alt={"Jairo Vera"}
              src="/assets/images/port2.jpeg"
              loading="eager"
              decoding="auto"
              format="webp"
              quality={95}
              class="relative z-30 w-full md:max-w-md mx-auto dark:-translate-y-0.5 rounded-xl shadow-lg brightness-105"
            />
          </div>
          <div
            class="absolute bottom-0 right-0 z-20 w-full h-full lg:h-[420px] translate-x-0 -translate-y-px border border-dashed rounded-2xl bg-gradient-to-r dark:from-neutral-950 dark:via-black dark:to-neutral-950 from-white via-neutral-50 to-white border-neutral-300 dark:border-neutral-700"
          >
          </div>
        </div>
      </div>
    </div>
  </div>

  <Separator text="Mis proyectos" />
  <Projects />
  <Separator text="Sobre mi" />

  <section
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <PageHeading
      title="Sobre mi"
      description="¡Hola, soy Jairo! Soy Ingeniero de Sistemas 💻 especializado en desarrollo web. Me dedico a crear experiencias digitales que no solo se ven bien, sino que también funcionan perfectamente. Siempre en busca de nuevos retos para mejorar el mundo digital."
    />

    <Image
      width={100}
      height={100}
      alt={"Jairo Vera"}
      src="/assets/images/aboutme.webp"
      format="webp"
      quality={95}
      class="relative z-30 w-full my-10 rounded-xl brightness-105 hover:brightness-100"
    />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Bio Rápida</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Soy Ingeniero de Sistemas especializado en Front-End, me encanta crear
      interfaces rápidas, responsivas y atractivas. Estoy siempre dispuesto a
      aprender algo nuevo en este apasionante mundo tecnológico. 🚀
    </p>
    <div
      class="grid grid-cols-1 gap-10 mt-10 xl:grid-cols-2 dark:text-neutral-200"
    >
      <div>
        <h2
          class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
        >
          Experiencia Laboral
        </h2>
        <div class="timeline px-5 py-10">
          {
            experiences.map((experience, index) => (
              <div class="timeline-item">
                <div class="bullet" />
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              </div>
            ))
          }
        </div>

        <!-- <div class="px-5 py-10">
          {
            experiences.map((experience, loop) => {
              return (
                <>
                  {loop == 0 || loop == 2 ? (
                    <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                      <AboutExperience
                        dates={experience.dates}
                        role={experience.role}
                        company={experience.company}
                        description={experience.description}
                        logo={experience.logo}
                      />
                    </div>
                  ) : (
                    <AboutExperience
                      dates={experience.dates}
                      role={experience.role}
                      company={experience.company}
                      description={experience.description}
                      logo={experience.logo}
                    />
                  )}
                </>
              );
            })
          }
        </div> -->
      </div>
      <div>
        <h2
          class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
        >
          Mis estudios
        </h2>
        <div class="timeline px-5 py-10">
          {
            studies.map((experience, index) => (
              <div class="timeline-item">
                <div class="bullet" />
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Contacta conmigo!
    </h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Si deseas mantenerte al tanto de mi trabajo, asegúrate de <a
        href="https://www.linkedin.com/in/frank-jairo-vera/"
        target="_blank"
        class="text-indigo-600 underline">seguirme en LinkedIn</a
      >, o puedes visitar mi <a
        href="https://github.com/JairoVera01"
        target="_blank"
        class="text-indigo-600 underline">GitHub</a
      > para ver mis proyectos. No dudes en contactarme a mi correo <a
        href="mailto:contacto@jairovera.dev"
        class="text-indigo-600 underline">contacto@jairovera.dev</a
      >, o también puedes ir a la página de contacto <a
        href="/contacto"
        class="text-indigo-600 underline">contacto</a
      >. Estaré encantado de responder.
    </p>
  </section>
</Layout>
<style>
  .timeline {
    position: relative;
    padding-left: 2rem; /* Espacio para la línea */
  }

  .timeline-item {
    position: relative;
    margin-bottom: 2rem; /* Espacio entre cada experiencia */
  }

  .timeline-item .bullet {
    position: absolute;
    left: -1.15rem; /* Ajusta la posición para centrar la bolita en la línea */
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border: 2px solid #e5e7eb; /* Color del borde de la bolita */
    border-radius: 50%;
    z-index: 1;
  }

  .timeline-item::after {
    content: "";
    position: absolute;
    top: 1.5rem; /* Empieza justo debajo de la bolita */
    left: -0.05rem; /* Ajuste para centrar la línea con la bolita */
    width: 2px;
    height: calc(100% + 1rem); /* La línea hasta la siguiente bolita */
    background-color: #e5e7eb; /* Color de la línea */
  }

  .timeline-item:last-child::after {
    display: none; /* Elimina la línea después de la última bolita */
  }
</style>
